<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        {{ site.title | escape }}
        <sup class="text-small">beta</sup>
      </a>
      <span class="navbar-text hidden-xs"></span>
    </div>
    <div id="navbar-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% link about.md %}"><i class="fa fa-book"></i> About</a></li>
        <li><a href="{% link user/login.html %}" id="navUser"><i class="fa fa-user"></i> <span>Login</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  {{ content }}
  <hr>
</main>

<footer class="footer text-center text-muted">
  <i class="fa fa-copyright"></i> {{ site.title | escape }} | {{ site.email }}
</footer>
</body>
</html>
